*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec-1{
    background-color: #1f2937;
    padding: 2rem 8rem;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}
a{
    text-decoration: none;
}
.logo a{
    color: #F9FAF8;
    font-size: 24px;
}
nav a ,
p{
    font-size: 18px;
    color: #E5E7EB;
}
.hero{
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box1,
.box2{
    flex: 1;

}
.box1 p{
    margin: 20px 0;
}
.box2{
    max-width: 100%;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-right: 2rem;
}
button{
    background-color: #3883F6;
    padding: 0.4rem 1.7rem;
    border-radius: 10px;
    border: none;
    color: #E5E7EB;
}
.sec-2{
    margin: 1rem;
}
.sec-2 h2{
    margin: 2rem;
    text-align: center;
}
.child{
    padding: 1rem 12rem;
    max-width: 100%;
    display: flex;
    gap: 2rem;
}
.child .box{
    height: 200px;
    /* flex:1 0 25%; */
    border: 2px solid #3883F6;
    border-radius: 10px;
}
.sec-3{
    background-color: #E5E7EB;
    padding: 4rem 25rem;
}
.sec-3 p{
    font: 36px ;
    font-style: italic;
    color: #1F2937;
}
.thor{
    margin-left: 22rem;
    font-weight: bold;
}
.sec-4{
    padding: 4rem 8rem;
    
}
.sec-4 .sub{
    background-color: #3883F6;
    display: flex;
    padding: 4rem 8rem;
    border-radius: 5px;
}
.sub >div{
    flex: 1;
}
.sec-4 button{
    border: 2px solid white;
}
h4{
    color: #E5E7EB;
}
footer{
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #F9FAF8;
}